<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name ="viewport" content ="width = device-width, initial-scale = 1.0, user-scalable = no"/>
	<title>Gerador de Combinações Númericas</title>
	<script src ="vue.min.js" type="text/javascript" ></script>
	<link href="styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<div id ="app">
		<h1>Gerador de combinações numéricas</h1>
		<div id="flex">
			<div class="box">
				<label for="qtn">Quantidade de números por combinação</label><br>
				<input id ="qtn" v-bind:type="'number'" v-bind:class="inputs_status[0]" v-model="qtn" min="2" max ="100" placeholder =""/>
			</div>
			<div class="box">
				<label for="qtc">Quantidade de combinações</label><br>
				<input id ="qtc" v-bind:type="'number'" v-bind:class="inputs_status[1]" v-model="qtc" min ="1" placeholder =""/>
			</div>
			<div class="box">
				<label for="qtd">Quantidade de dezenas</label><br>
				<input id ="qtd" v-bind:type="'number'" v-bind:class="inputs_status[2]" v-model="qtd" min="2" max="99" placeholder =""/>
			</div>
		</div>
		<button v-bind:disabled="buttodisable" v-on:click ="gerar">Gerar</button><br>
		<button v-bind:disabled="buttodisable" v-on:click ="window.print">Imprimir</button><br>
		<span v-bind:class="gerando_status[0]">{{gerando_status[1]}}</span>
	</div>
	<script type="text/javascript" src="app.js"></script>
</body>

</html>
